
*{
  /*background: blue;*/
}

body{
  font-family: serif;
  color: #000000;
  background: #f0f0f0;
}

#myContent{
  width: 250px;
  height: 100px;
  background: yellow;
  display: inline;
}

.myClass{
  width: 250px;
  height: 100px;
  background: green;
  display: inline;
}
h1 {
font-family: sans-serif;
  color: #white;
}

p {
  font-style: italic;
}


  ul {
list-style: none;
  }
nav {
  margin-top: 75px;
  /* padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 50px;
  padding-left: 50px; */
  padding: 25px 0 0 150px;
  background: red;
  background: rgba(255, 0, 0, 0.75);
}

.main-nav-link {

ul > li {
  display: inline;
  padding-left: 10px;
  margin-right: 50px;
}

a{
  color: pink;
  text-decoration: none;
  font-size: 30px;
}

a:hover{
  font-size: 55px;
  color: yellow;
}

nav:hover{
  background: blue;
}

a:focus{
  color: green;
  font-size: 25px;
}

a:visited{
color: purple;
}
